# Preprocessing

In [1]:
import pandas as pd

colnames = ['dur','wage1','wage2','wage3','cola','hours','pension','stby_pay',
            'shift_diff','educ_allw','holidays','vacation','lngtrm_disabil',
            'dntl_ins','bereavement','empl_plan','good/bad']
df = pd.read_csv('labor-neg.data',sep=',',names=colnames, header=None,na_values='?')
df

,dur,wage1,wage2,wage3,cola,hours,pension,stby_pay,shift_diff,educ_allw,holidays,vacation,lngtrm_disabil,dntl_ins,bereavement,empl_plan,good/bad
0,1.0,5.0,NaN,NaN,NaN,40.0,NaN,NaN,2.0,NaN,11.0,average,NaN,NaN,yes,NaN,good
1,2.0,4.5,5.8,NaN,NaN,35.0,ret_allw,NaN,NaN,yes,11.0,below average,NaN,full,NaN,full,good
2,NaN,NaN,NaN,NaN,NaN,38.0,empl_contr,NaN,5.0,NaN,11.0,generous,yes,half,yes,half,good
3,3.0,3.7,4.0,5.0,tc,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,yes,NaN,good
4,3.0,4.5,4.5,5.0,NaN,40.0,NaN,NaN,NaN,NaN,12.0,average,NaN,half,yes,half,good
5,2.0,2.0,2.5,NaN,NaN,35.0,NaN,NaN,6.0,yes,12.0,average,NaN,NaN,NaN,NaN,good
6,3.0,4.0,5.0,5.0,tc,NaN,empl_contr,NaN,NaN,NaN,12.0,generous,yes,none,yes,half,good
7,3.0,6.9,4.8,2.3,NaN,40.0,NaN,NaN,3.0,NaN,12.0,below average,NaN,NaN,NaN,NaN,good
8,2.0,3.0,7.0,NaN,NaN,38.0,NaN,12.0,25.0,yes,11.0,below average,yes,half,yes,NaN,good
9,1.0,5.7,NaN,NaN,none,40.0,empl_contr,NaN,4.0,NaN,11.0,generous,yes,full,NaN,NaN,good
10,3.0,3.5,4.0,4.6,none,36.0,NaN,NaN,3.0,NaN,13.0,generous,NaN,NaN,yes,full,good
11,2.0,6.4,6.4,NaN,NaN,38.0,NaN,NaN,4.0,NaN,15.0,NaN,NaN,full,NaN,NaN,good
12,2.0,3.5,4.0,NaN,none,40.0,NaN,NaN,2.0,no,10.0,below average,no,half,NaN,half,bad
13,3.0,3.5,4.0,5.1,tcf,37.0,NaN,NaN,4.0,NaN,13.0,generous,NaN,full,yes,full,good
14,1.0,3.0,NaN,NaN,none,36.0,NaN,NaN,10.0,no,11.0,generous,NaN,NaN,NaN,NaN,good
15,2.0,4.5,4.0,NaN,none,37.0,empl_contr,NaN,NaN,NaN,11.0,average,NaN,full,yes,NaN,good
16,1.0,2.8,NaN,NaN,NaN,35.0,NaN,NaN,2.0,NaN,12.0,below average,NaN,NaN,NaN,NaN,good
17,1.0,2.1,NaN,NaN,tc,40.0,ret_allw,2.0,3.0,no,9.0,below average,yes,half,NaN,none,bad
18,1.0,2.0,NaN,NaN,none,38.0,none,NaN,NaN,yes,11.0,average,no,none,no,none,bad
19,2.0,4.0,5.0,NaN,tcf,35.0,NaN,13.0,5.0,NaN,15.0,generous,NaN,NaN,NaN,NaN,good
20,2.0,4.3,4.4,NaN,NaN,38.0,NaN,NaN,4.0,NaN,12.0,generous,NaN,full,NaN,full,good
21,2.0,2.5,3.0,NaN,NaN,40.0,none,NaN,NaN,NaN,11.0,below average,NaN,NaN,NaN,NaN,bad
22,3.0,3.5,4.0,4.6,tcf,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,good
23,2.0,4.5,4.0,NaN,NaN,40.0,NaN,NaN,4.0,NaN,10.0,generous,NaN,half,NaN,full,good
24,1.0,6.0,NaN,NaN,NaN,38.0,NaN,8.0,3.0,NaN,9.0,generous,NaN,NaN,NaN,NaN,good
25,3.0,2.0,2.0,2.0,none,40.0,none,NaN,NaN,NaN,10.0,below average,NaN,half,yes,full,bad
26,2.0,4.5,4.5,NaN,tcf,NaN,NaN,NaN,NaN,yes,10.0,below average,yes,none,NaN,half,good
27,2.0,3.0,3.0,NaN,none,33.0,NaN,NaN,NaN,yes,12.0,generous,NaN,NaN,yes,full,good
28,2.0,5.0,4.0,NaN,none,37.0,NaN,NaN,5.0,no,11.0,below average,yes,full,yes,full,good
29,3.0,2.0,2.5,NaN,NaN,35.0,none,NaN,NaN,NaN,10.0,average,NaN,NaN,yes,full,bad
30,3.0,4.5,4.5,5.0,none,40.0,NaN,NaN,NaN,no,11.0,average,NaN,half,NaN,NaN,good
31,3.0,3.0,2.0,2.5,tc,40.0,none,NaN,5.0,no,10.0,below average,yes,half,yes,full,bad
32,2.0,2.5,2.5,NaN,NaN,38.0,empl_contr,NaN,NaN,NaN,10.0,average,NaN,NaN,NaN,NaN,bad
33,2.0,4.0,5.0,NaN,none,40.0,none,NaN,3.0,no,10.0,below average,no,none,NaN,none,bad
34,3.0,2.0,2.5,2.1,tc,40.0,none,2.0,1.0,no,10.0,below average,no,half,yes,full,bad
35,2.0,2.0,2.0,NaN,none,40.0,none,NaN,NaN,no,11.0,average,yes,none,yes,full,bad
36,1.0,2.0,NaN,NaN,tc,40.0,ret_allw,4.0,0.0,no,11.0,generous,no,none,no,none,bad
37,1.0,2.8,NaN,NaN,none,38.0,empl_contr,2.0,3.0,no,9.0,below average,yes,half,NaN,none,bad
38,3.0,2.0,2.5,2.0,NaN,37.0,empl_contr,NaN,NaN,NaN,10.0,average,NaN,NaN,yes,none,bad
39,2.0,4.5,4.0,NaN,none,40.0,NaN,NaN,4.0,NaN,12.0,average,yes,full,yes,half,good

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dur             39 non-null     float64
 1   wage1           39 non-null     float64
 2   wage2           30 non-null     float64
 3   wage3           12 non-null     float64
 4   cola            24 non-null     object
 5   hours           37 non-null     float64
 6   pension         18 non-null     object
 7   stby_pay        7 non-null      float64
 8   shift_diff      24 non-null     float64
 9   educ_allw       18 non-null     object
 10  holidays        38 non-null     float64
 11  vacation        37 non-null     object
 12  lngtrm_disabil  16 non-null     object
 13  dntl_ins        25 non-null     object
 14  bereavement     20 non-null     object
 15  empl_plan       24 non-null     object
 16  good/bad        40 non-null     object
dtypes: float64(8), object(9)
memory usage: 5.4+ KB

In [3]:
by_mean = ['wage1','wage2','wage3','hours','stby_pay','shift_diff','holidays']
by_mode = ['dur','cola','pension','educ_allw','vacation','lngtrm_disabil',
           'dntl_ins','bereavement','empl_plan']

In [4]:
for x in by_mean:
    df[x].fillna(round(df[x].mean()), inplace=True)
    
for x in by_mode:
    df[x].fillna(df[x].mode()[0], inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dur             40 non-null     float64
 1   wage1           40 non-null     float64
 2   wage2           40 non-null     float64
 3   wage3           40 non-null     float64
 4   cola            40 non-null     object
 5   hours           40 non-null     float64
 6   pension         40 non-null     object
 7   stby_pay        40 non-null     float64
 8   shift_diff      40 non-null     float64
 9   educ_allw       40 non-null     object
 10  holidays        40 non-null     float64
 11  vacation        40 non-null     object
 12  lngtrm_disabil  40 non-null     object
 13  dntl_ins        40 non-null     object
 14  bereavement     40 non-null     object
 15  empl_plan       40 non-null     object
 16  good/bad        40 non-null     object
dtypes: float64(8), object(9)
memory usage: 5.4+ KB

In [6]:
df.to_csv('labor-neg.csv')

In [7]:
df.head()

,dur,wage1,wage2,wage3,cola,hours,pension,stby_pay,shift_diff,educ_allw,holidays,vacation,lngtrm_disabil,dntl_ins,bereavement,empl_plan,good/bad
0,1.0,5.0,4.0,4.0,none,40.0,none,6.0,2.0,no,11.0,average,yes,half,yes,full,good
1,2.0,4.5,5.8,4.0,none,35.0,ret_allw,6.0,5.0,yes,11.0,below average,yes,full,yes,full,good
2,2.0,4.0,4.0,4.0,none,38.0,empl_contr,6.0,5.0,no,11.0,generous,yes,half,yes,half,good
3,3.0,3.7,4.0,5.0,tc,38.0,none,6.0,5.0,yes,11.0,below average,yes,half,yes,full,good
4,3.0,4.5,4.5,5.0,none,40.0,none,6.0,5.0,no,12.0,average,yes,half,yes,half,good

In [8]:
df.describe()

,dur,wage1,wage2,wage3,hours,stby_pay,shift_diff,holidays
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,2.100000,3.630000,3.935000,3.930000,37.825000,6.025000,4.750000,11.100000
std,0.744208,1.315626,1.105128,0.759284,2.610506,1.901248,3.656746,1.335895
min,1.000000,2.000000,2.000000,2.000000,27.000000,2.000000,0.000000,9.000000
25%,2.000000,2.500000,3.750000,4.000000,37.000000,6.000000,3.000000,10.000000
50%,2.000000,3.500000,4.000000,4.000000,38.000000,6.000000,5.000000,11.000000
75%,3.000000,4.500000,4.425000,4.000000,40.000000,6.000000,5.000000,12.000000
max,3.000000,6.900000,7.000000,5.100000,40.000000,13.000000,25.000000,15.000000

# Encode Data

## dur

In [9]:
df["dur"].value_counts()

2.0    18
3.0    13
1.0     9
Name: dur, dtype: int64

In [10]:
df['dur'] = df['dur'].replace([1.0,2.0,3.0], ['duration1','duration2','duration3'])
df['dur'].value_counts()

duration2    18
duration3    13
duration1     9
Name: dur, dtype: int64

## wage1

In [11]:
df["wage1"].value_counts()

2.0    8
4.5    7
3.5    4
3.0    4
4.0    4
5.0    2
2.5    2
2.8    2
5.7    1
3.7    1
6.0    1
6.4    1
2.1    1
4.3    1
6.9    1
Name: wage1, dtype: int64

In [12]:
df['wage1'] = df['wage1'].replace([2.0, 4.5, 3.5, 3.0, 4.0, 5.0, 2.5, 2.8, 5.7, 3.7, 6.0, 6.4, 2.1, 4.3, 6.9], 
['wageFirst2.0', 'wageFirst4.5', 'wageFirst3.5', 'wageFirst3.0', 'wageFirst4.0', 'wageFirst5.0', 'wageFirst2.5', 'wageFirst2.8',
 'wageFirst5.7', 'wageFirst3.7', 'wageFirst6.0', 'wageFirst6.4', 'wageFirst2.1', 'wageFirst4.3', 'wageFirst6.9'])
df["wage1"].value_counts()

wageFirst2.0    8
wageFirst4.5    7
wageFirst3.5    4
wageFirst4.0    4
wageFirst3.0    4
wageFirst5.0    2
wageFirst2.5    2
wageFirst2.8    2
wageFirst5.7    1
wageFirst6.9    1
wageFirst2.1    1
wageFirst6.4    1
wageFirst6.0    1
wageFirst3.7    1
wageFirst4.3    1
Name: wage1, dtype: int64

## wage2

In [13]:
df["wage2"].value_counts()

4.0    19
2.5     5
4.5     3
2.0     3
5.0     3
3.0     2
7.0     1
5.8     1
4.4     1
4.8     1
6.4     1
Name: wage2, dtype: int64

In [14]:
df['wage2'] = df['wage2'].replace([4.0, 2.5, 4.5, 2.0, 5.0, 3.0, 7.0, 5.8, 4.4, 4.8, 6.4], 
['wageSecond4.0', 'wageSecond2.5', 'wageSecond4.5', 'wageSecond2.0', 'wageSecond5.0', 'wageSecond3.0', 'wageSecond7.0',
'wageSecond5.8', 'wageSecond4.4', 'wageSecond4.8', 'wageSecond6.4'])
df["wage2"].value_counts()

wageSecond4.0    19
wageSecond2.5     5
wageSecond2.0     3
wageSecond5.0     3
wageSecond4.5     3
wageSecond3.0     2
wageSecond5.8     1
wageSecond4.4     1
wageSecond7.0     1
wageSecond4.8     1
wageSecond6.4     1
Name: wage2, dtype: int64

## wage3

In [15]:
df["wage3"].value_counts()

4.0    28
5.0     4
2.0     2
4.6     2
2.5     1
5.1     1
2.3     1
2.1     1
Name: wage3, dtype: int64

In [16]:
df['wage3'] = df['wage3'].replace([4.0, 5.0, 2.0, 4.6, 2.5, 5.1, 2.3, 2.1], 
['wageThird4.0', 'wageThird5.0', 'wageThird2.0', 'wageThird4.6', 'wageThird2.5', 'wageThird5.1', 'wageThird2.3', 'wageThird2.1'])
df["wage3"].value_counts()

wageThird4.0    28
wageThird5.0     4
wageThird2.0     2
wageThird4.6     2
wageThird5.1     1
wageThird2.5     1
wageThird2.1     1
wageThird2.3     1
Name: wage3, dtype: int64

## cola

In [17]:
df["cola"].value_counts()

none    30
tc       6
tcf      4
Name: cola, dtype: int64

In [18]:
df['cola'] = df['cola'].replace(["tc","none","tcf"],['cola_tc','cola_none','cola_tcf'])
df['cola'].value_counts()

cola_none    30
cola_tc       6
cola_tcf      4
Name: cola, dtype: int64

## hours

In [19]:
df["hours"].value_counts()

40.0    16
38.0    11
35.0     5
37.0     4
36.0     2
27.0     1
33.0     1
Name: hours, dtype: int64

In [20]:
df['hours'] = df['hours'].replace([40.0, 38.0, 35.0, 37.0, 36.0, 27.0, 33.0],
                                  ['hours40','hours38','hours35','hours37','hours36','hours27','hours33'])
df['hours'].value_counts()

hours40    16
hours38    11
hours35     5
hours37     4
hours36     2
hours33     1
hours27     1
Name: hours, dtype: int64

## pension

In [21]:
df["pension"].value_counts()

none          30
empl_contr     7
ret_allw       3
Name: pension, dtype: int64

In [22]:
df['pension'] = df['pension'].replace(["empl_contr","none","ret_allw"],["pension_empl","pension_none","pension_ret"])
df['pension'].value_counts()

pension_none    30
pension_empl     7
pension_ret      3
Name: pension, dtype: int64

## stby_pay

In [23]:
df["stby_pay"].value_counts()

6.0     33
2.0      3
4.0      1
12.0     1
13.0     1
8.0      1
Name: stby_pay, dtype: int64

In [24]:
df['stby_pay'] = df['stby_pay'].replace([6.0,2.0,4.0,12.0,13.0,8.0],
                                        ["pay6","pay2","pay4","pay12","pay13","pay8"])
df['stby_pay'].value_counts()

pay6     33
pay2      3
pay13     1
pay8      1
pay12     1
pay4      1
Name: stby_pay, dtype: int64

## shift_diff

In [25]:
df["shift_diff"].value_counts()

5.0     20
4.0      6
3.0      6
2.0      3
0.0      1
25.0     1
10.0     1
6.0      1
1.0      1
Name: shift_diff, dtype: int64

In [26]:
df['shift_diff'] = df['shift_diff'].replace([5.0,4.0,3.0,2.0,0.0,25.0,10.0,6.0,1.0],
                     ["shift5","shift4","shift3","shift2","shift0","shift25","shift10","shift6","shift1"])
df['shift_diff'].value_counts()

shift5     20
shift3      6
shift4      6
shift2      3
shift25     1
shift1      1
shift6      1
shift10     1
shift0      1
Name: shift_diff, dtype: int64

## educ_allw

In [27]:
df["educ_allw"].value_counts()

no     33
yes     7
Name: educ_allw, dtype: int64

In [28]:
df['educ_allw'] = df['educ_allw'].replace(['yes','no'],['educ_yes','educ_no'])
df['educ_allw'].value_counts()

educ_no     33
educ_yes     7
Name: educ_allw, dtype: int64

## holidays

In [29]:
df["holidays"].value_counts()

11.0    15
10.0    10
12.0     8
9.0      3
15.0     2
13.0     2
Name: holidays, dtype: int64

In [30]:
df['holidays'] = df['holidays'].replace([11.0,10.0,12.0,9.0,15.0,13.0],
                 ["holidays11","holidays10","holidays12","holidays9","holidays15","holidays13"])
df['holidays'].value_counts()

holidays11    15
holidays10    10
holidays12     8
holidays9      3
holidays13     2
holidays15     2
Name: holidays, dtype: int64

## vacation

In [31]:
df["vacation"].value_counts()

below average    17
generous         12
average          11
Name: vacation, dtype: int64

In [32]:
df['vacation'] = df['vacation'].replace(["below average","average","generous"],['vac_below','vac_avg','vac_gen']) 
df['vacation'].value_counts()

vac_below    17
vac_gen      12
vac_avg      11
Name: vacation, dtype: int64

## lngtrm_disabil

In [33]:
df["lngtrm_disabil"].value_counts()

yes    35
no      5
Name: lngtrm_disabil, dtype: int64

In [34]:
df['lngtrm_disabil'] = df['lngtrm_disabil'].replace(["yes","no"],['lngtrm_yes',"lngtrm_no"])
df['lngtrm_disabil'].value_counts()

lngtrm_yes    35
lngtrm_no      5
Name: lngtrm_disabil, dtype: int64

## dntl_ins

In [35]:
df["dntl_ins"].value_counts()

half    26
full     8
none     6
Name: dntl_ins, dtype: int64

In [36]:
df['dntl_ins'] = df['dntl_ins'].replace(["full","half","none","no"],['dntl_full',"dntl_half","dntl_none","dntl_none"])
df['dntl_ins'].value_counts()

dntl_half    26
dntl_full     8
dntl_none     6
Name: dntl_ins, dtype: int64

## empl_plan

In [37]:
df["empl_plan"].value_counts()

full    28
none     6
half     6
Name: empl_plan, dtype: int64

In [38]:
df['empl_plan'] = df['empl_plan'].replace(['full','half','none'],['empl_full','empl_half','empl_none'])
df['empl_plan'].value_counts()

empl_full    28
empl_none     6
empl_half     6
Name: empl_plan, dtype: int64

## bereavement

In [39]:
df["bereavement"].value_counts()

yes    38
no      2
Name: bereavement, dtype: int64

In [40]:
df['bereavement'] = df['bereavement'].replace(['yes','no'],['bereavement_yes','bereveament_no'])
df['bereavement'].value_counts()

bereavement_yes    38
bereveament_no      2
Name: bereavement, dtype: int64

In [41]:
df.head()

,dur,wage1,wage2,wage3,cola,hours,pension,stby_pay,shift_diff,educ_allw,holidays,vacation,lngtrm_disabil,dntl_ins,bereavement,empl_plan,good/bad
0,duration1,wageFirst5.0,wageSecond4.0,wageThird4.0,cola_none,hours40,pension_none,pay6,shift2,educ_no,holidays11,vac_avg,lngtrm_yes,dntl_half,bereavement_yes,empl_full,good
1,duration2,wageFirst4.5,wageSecond5.8,wageThird4.0,cola_none,hours35,pension_ret,pay6,shift5,educ_yes,holidays11,vac_below,lngtrm_yes,dntl_full,bereavement_yes,empl_full,good
2,duration2,wageFirst4.0,wageSecond4.0,wageThird4.0,cola_none,hours38,pension_empl,pay6,shift5,educ_no,holidays11,vac_gen,lngtrm_yes,dntl_half,bereavement_yes,empl_half,good
3,duration3,wageFirst3.7,wageSecond4.0,wageThird5.0,cola_tc,hours38,pension_none,pay6,shift5,educ_yes,holidays11,vac_below,lngtrm_yes,dntl_half,bereavement_yes,empl_full,good
4,duration3,wageFirst4.5,wageSecond4.5,wageThird5.0,cola_none,hours40,pension_none,pay6,shift5,educ_no,holidays12,vac_avg,lngtrm_yes,dntl_half,bereavement_yes,empl_half,good

# Apriori Implementation

In [42]:
df_apr = df.drop(['good/bad'],1)
df_apr.head()

,dur,wage1,wage2,wage3,cola,hours,pension,stby_pay,shift_diff,educ_allw,holidays,vacation,lngtrm_disabil,dntl_ins,bereavement,empl_plan
0,duration1,wageFirst5.0,wageSecond4.0,wageThird4.0,cola_none,hours40,pension_none,pay6,shift2,educ_no,holidays11,vac_avg,lngtrm_yes,dntl_half,bereavement_yes,empl_full
1,duration2,wageFirst4.5,wageSecond5.8,wageThird4.0,cola_none,hours35,pension_ret,pay6,shift5,educ_yes,holidays11,vac_below,lngtrm_yes,dntl_full,bereavement_yes,empl_full
2,duration2,wageFirst4.0,wageSecond4.0,wageThird4.0,cola_none,hours38,pension_empl,pay6,shift5,educ_no,holidays11,vac_gen,lngtrm_yes,dntl_half,bereavement_yes,empl_half
3,duration3,wageFirst3.7,wageSecond4.0,wageThird5.0,cola_tc,hours38,pension_none,pay6,shift5,educ_yes,holidays11,vac_below,lngtrm_yes,dntl_half,bereavement_yes,empl_full
4,duration3,wageFirst4.5,wageSecond4.5,wageThird5.0,cola_none,hours40,pension_none,pay6,shift5,educ_no,holidays12,vac_avg,lngtrm_yes,dntl_half,bereavement_yes,empl_half

In [43]:
from apyori import apriori

records = []
for i in range(0, 39):
    records.append([str(df.values[i,j]) for j in range(0, 16)])
rules = apriori(records, min_support = 0.04, min_confidence = 0.5, min_lift = 3, max_length = 2, target = "rules")
association_results = list(rules)

print(len(association_results))

46

In [44]:
bestSupport = 0
bestConfidence = 0
minimumSupport = 999
minimumConfidence = 999
bestRuleSupport_1, bestRuleSupport_2,bestRuleConfidence_1,bestRuleConfidence_2,minimumRuleConfidence_1,minimumRuleConfidence_2,minimumRuleSupport_1,minimumRuleSupport_2 = [],[],[],[],[],[],[],[]
for item in association_results:
    
    pair = item[0]
    items = [x for x in pair]
    if item[1] >= bestSupport:
        bestRuleSupport_1.append(items[0])
        bestRuleSupport_2.append(items[1])
        bestSupport = item[1]
    if item[2][0][2] >= bestConfidence :
        bestRuleConfidence_1.append(items[0])
        bestRuleConfidence_2.append(items[1])
        bestConfidence = item[2][0][2]
    if item[2][0][2] <= minimumConfidence:
        minimumRuleConfidence_1.append(items[0])
        minimumRuleConfidence_2.append(items[1])
        minimumConfidence = item[2][0][2]
    if item[1] <= minimumSupport:
        minimumRuleSupport_1.append(items[0])
        minimumRuleSupport_2.append(items[1])
        minimumSupport = item[1]                               
     
    print("Rule : ", items[0], " -> " + items[1])
    print("Support : ", str(item[1]))
    print("Confidence : ",str(item[2][0][2]))
    print("Lift : ", str(item[2][0][3]))
    
    print("=============================")

Rule :  bereveament_no  -> dntl_none
Support :  0.05128205128205128
Confidence :  1.0
Lift :  6.5
=============================
Rule :  bereveament_no  -> duration1
Support :  0.05128205128205128
Confidence :  1.0
Lift :  4.333333333333333
=============================
Rule :  bereveament_no  -> empl_none
Support :  0.05128205128205128
Confidence :  1.0
Lift :  6.5
=============================
Rule :  bereveament_no  -> lngtrm_no
Support :  0.05128205128205128
Confidence :  1.0
Lift :  7.800000000000001
=============================
Rule :  bereveament_no  -> wageFirst2.0
Support :  0.05128205128205128
Confidence :  1.0
Lift :  4.875
=============================
Rule :  cola_tc  -> pay2
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  pension_ret  -> cola_tc
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  wageThird5.0  -> cola_tc
Support :  0.05128205128205128
Confidence :  0.5
Lift :  3.25
=============================
Rule :  wageFirst3.5  -> cola_tcf
Support :  0.05128205128205128
Confidence :  0.5
Lift :  4.875
=============================
Rule :  hours37  -> dntl_full
Support :  0.07692307692307693
Confidence :  0.7500000000000001
Lift :  4.178571428571429
=============================
Rule :  dntl_full  -> shift4
Support :  0.10256410256410256
Confidence :  0.5714285714285714
Lift :  4.457142857142857
=============================
Rule :  empl_none  -> dntl_none
Support :  0.07692307692307693
Confidence :  0.5
Lift :  3.25
=============================
Rule :  lngtrm_no  -> dntl_none
Support :  0.07692307692307693
Confidence :  0.5
Lift :  3.9000000000000004
=============================
Rule :  dntl_none  -> wageFirst4.0
Support :  0.05128205128205128
Confidence :  0.5
Lift :  3.25
=============================
Rule :  dntl_none  -> wageSecond5.0
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  duration1  -> holidays9
Support :  0.07692307692307693
Confidence :  1.0
Lift :  4.333333333333333
=============================
Rule :  wageFirst2.8  -> duration1
Support :  0.05128205128205128
Confidence :  1.0
Lift :  4.333333333333333
=============================
Rule :  duration3  -> holidays13
Support :  0.05128205128205128
Confidence :  1.0
Lift :  3.0
=============================
Rule :  wageThird2.0  -> duration3
Support :  0.05128205128205128
Confidence :  1.0
Lift :  3.0
=============================
Rule :  duration3  -> wageThird4.6
Support :  0.05128205128205128
Confidence :  1.0
Lift :  3.0
=============================
Rule :  duration3  -> wageThird5.0
Support :  0.10256410256410256
Confidence :  1.0
Lift :  3.0
=============================
Rule :  wageFirst4.0  -> empl_half
Support :  0.05128205128205128
Confidence :  0.5
Lift :  3.9000000000000004
=============================
Rule :  empl_half  -> wageSecond4.5
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  5.2
=============================
Rule :  wageThird5.0  -> empl_half
Support :  0.05128205128205128
Confidence :  0.5
Lift :  3.9000000000000004
=============================
Rule :  empl_none  -> holidays9
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  empl_none  -> lngtrm_no
Support :  0.07692307692307693
Confidence :  0.5
Lift :  3.9000000000000004
=============================
Rule :  empl_none  -> pay2
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  empl_none  -> pension_ret
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  empl_none  -> shift3
Support :  0.07692307692307693
Confidence :  0.5
Lift :  3.25
=============================
Rule :  wageSecond2.5  -> holidays10
Support :  0.10256410256410256
Confidence :  0.8
Lift :  3.1200000000000006
=============================
Rule :  wageThird2.0  -> holidays10
Support :  0.05128205128205128
Confidence :  1.0
Lift :  3.9000000000000004
=============================
Rule :  holidays13  -> vac_gen
Support :  0.05128205128205128
Confidence :  1.0
Lift :  3.25
=============================
Rule :  wageFirst3.5  -> holidays13
Support :  0.05128205128205128
Confidence :  1.0
Lift :  9.75
=============================
Rule :  holidays9  -> pay2
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  8.666666666666666
=============================
Rule :  shift3  -> holidays9
Support :  0.07692307692307693
Confidence :  1.0
Lift :  6.5
=============================
Rule :  hours36  -> vac_gen
Support :  0.05128205128205128
Confidence :  1.0
Lift :  3.25
=============================
Rule :  shift3  -> pay2
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  4.333333333333333
=============================
Rule :  vac_avg  -> wageSecond2.5
Support :  0.10256410256410256
Confidence :  0.8
Lift :  3.1200000000000006
=============================
Rule :  wageFirst2.0  -> wageSecond2.0
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  3.25
=============================
Rule :  wageFirst2.0  -> wageSecond2.5
Support :  0.10256410256410256
Confidence :  0.5
Lift :  3.9000000000000004
=============================
Rule :  wageFirst2.0  -> wageThird2.0
Support :  0.05128205128205128
Confidence :  1.0
Lift :  4.875
=============================
Rule :  wageFirst3.5  -> wageThird4.6
Support :  0.05128205128205128
Confidence :  0.5
Lift :  9.75
=============================
Rule :  wageFirst4.0  -> wageSecond5.0
Support :  0.07692307692307693
Confidence :  0.7500000000000001
Lift :  9.750000000000002
=============================
Rule :  wageFirst4.5  -> wageSecond4.5
Support :  0.07692307692307693
Confidence :  0.5
Lift :  6.5
=============================
Rule :  wageFirst4.5  -> wageThird5.0
Support :  0.05128205128205128
Confidence :  0.5
Lift :  3.25
=============================
Rule :  wageThird5.0  -> wageSecond4.5
Support :  0.05128205128205128
Confidence :  0.6666666666666666
Lift :  6.5
=============================

In [45]:
print("Maximum dan Minimum Value dengan Contoh Rulenya\n")

print("Maximum Value")  
print("=============================")
print("Rule : ", bestRuleSupport_1[0], " -> " + bestRuleSupport_2[0])
print("Best Support : ", bestSupport)
print("=============================")
print("Rule : ", bestRuleConfidence_1[0], " -> " + bestRuleConfidence_2[0])
print("Best Confidence : ", bestConfidence)
print("=============================\n")
  
print("Minimum Value")  
print("=============================")
print("Rule : ",str(minimumRuleSupport_1[0]), " -> " + str(minimumRuleSupport_2[0]))
print("Minimum Support : ", str(minimumSupport))
print("=============================")
print("Rule : ", str(minimumRuleConfidence_1[0]), " -> " + str(minimumRuleConfidence_2[0]))
print("Minimum Confidence : ", str(minimumConfidence))
print("=============================")

Maximum dan Minimum Value dengan Contoh Rulenya

Maximum Value
=============================
Rule :  bereveament_no  -> dntl_none
Best Support :  0.10256410256410256
=============================
Rule :  bereveament_no  -> dntl_none
Best Confidence :  1.0
=============================

Minimum Value
=============================
Rule :  bereveament_no  -> dntl_none
Minimum Support :  0.05128205128205128
=============================
Rule :  bereveament_no  -> dntl_none
Minimum Confidence :  0.5
=============================

In [46]:
print("Maximum Value") 
print("=============================")
for i in range(len(bestRuleSupport_1)): 
    print("Rule ",str(i),": ",bestRuleSupport_1[i], " -> " + bestRuleSupport_2[i])
print("=============================")
print("Best Support : ",str(bestSupport)+"\n")

print("=============================")
for j in range(len(bestRuleConfidence_1)):
    print("Rule ",str(j),": ", bestRuleConfidence_1[j], " -> " + bestRuleConfidence_2[j])
print("=============================")
print("Best Confidence : ",str(bestConfidence)+"\n")

Maximum Value
=============================
Rule  0 :  bereveament_no  -> dntl_none
Rule  1 :  bereveament_no  -> duration1
Rule  2 :  bereveament_no  -> empl_none
Rule  3 :  bereveament_no  -> lngtrm_no
Rule  4 :  bereveament_no  -> wageFirst2.0
Rule  5 :  cola_tc  -> pay2
Rule  6 :  pension_ret  -> cola_tc
Rule  7 :  wageThird5.0  -> cola_tc
Rule  8 :  wageFirst3.5  -> cola_tcf
Rule  9 :  hours37  -> dntl_full
Rule  10 :  dntl_full  -> shift4
Rule  11 :  duration3  -> wageThird5.0
Rule  12 :  wageSecond2.5  -> holidays10
Rule  13 :  vac_avg  -> wageSecond2.5
Rule  14 :  wageFirst2.0  -> wageSecond2.5
=============================
Best Support :  0.10256410256410256

=============================
Rule  0 :  bereveament_no  -> dntl_none
Rule  1 :  bereveament_no  -> duration1
Rule  2 :  bereveament_no  -> empl_none
Rule  3 :  bereveament_no  -> lngtrm_no
Rule  4 :  bereveament_no  -> wageFirst2.0
Rule  5 :  duration1  -> holidays9
Rule  6 :  wageFirst2.8  -> duration1
Rule  7 :  duration3  -> holidays13
Rule  8 :  wageThird2.0  -> duration3
Rule  9 :  duration3  -> wageThird4.6
Rule  10 :  duration3  -> wageThird5.0
Rule  11 :  wageThird2.0  -> holidays10
Rule  12 :  holidays13  -> vac_gen
Rule  13 :  wageFirst3.5  -> holidays13
Rule  14 :  shift3  -> holidays9
Rule  15 :  hours36  -> vac_gen
Rule  16 :  wageFirst2.0  -> wageThird2.0
=============================
Best Confidence :  1.0

In [47]:
print("Minimum Value") 
print("=============================")
for i in range(len(minimumRuleSupport_1)): 
    print("Rule ",str(i),": ",minimumRuleSupport_1[i], " -> " + minimumRuleSupport_2[i])
print("=============================")
print("minimum Support : ",str(minimumSupport)+"\n")

print("=============================")
for j in range(len(minimumRuleConfidence_1)):
    print("Rule ",str(j),": ", minimumRuleConfidence_1[j], " -> " + minimumRuleConfidence_2[j])
print("=============================")
print("minimum Confidence : ",str(minimumConfidence)+"\n")

Minimum Value
=============================
Rule  0 :  bereveament_no  -> dntl_none
Rule  1 :  bereveament_no  -> duration1
Rule  2 :  bereveament_no  -> empl_none
Rule  3 :  bereveament_no  -> lngtrm_no
Rule  4 :  bereveament_no  -> wageFirst2.0
Rule  5 :  cola_tc  -> pay2
Rule  6 :  pension_ret  -> cola_tc
Rule  7 :  wageThird5.0  -> cola_tc
Rule  8 :  wageFirst3.5  -> cola_tcf
Rule  9 :  dntl_none  -> wageFirst4.0
Rule  10 :  dntl_none  -> wageSecond5.0
Rule  11 :  wageFirst2.8  -> duration1
Rule  12 :  duration3  -> holidays13
Rule  13 :  wageThird2.0  -> duration3
Rule  14 :  duration3  -> wageThird4.6
Rule  15 :  wageFirst4.0  -> empl_half
Rule  16 :  empl_half  -> wageSecond4.5
Rule  17 :  wageThird5.0  -> empl_half
Rule  18 :  empl_none  -> holidays9
Rule  19 :  empl_none  -> pay2
Rule  20 :  empl_none  -> pension_ret
Rule  21 :  wageThird2.0  -> holidays10
Rule  22 :  holidays13  -> vac_gen
Rule  23 :  wageFirst3.5  -> holidays13
Rule  24 :  holidays9  -> pay2
Rule  25 :  hours36  -> vac_gen
Rule  26 :  shift3  -> pay2
Rule  27 :  wageFirst2.0  -> wageSecond2.0
Rule  28 :  wageFirst2.0  -> wageThird2.0
Rule  29 :  wageFirst3.5  -> wageThird4.6
Rule  30 :  wageFirst4.5  -> wageThird5.0
Rule  31 :  wageThird5.0  -> wageSecond4.5
=============================
minimum Support :  0.05128205128205128

=============================
Rule  0 :  bereveament_no  -> dntl_none
Rule  1 :  bereveament_no  -> duration1
Rule  2 :  bereveament_no  -> empl_none
Rule  3 :  bereveament_no  -> lngtrm_no
Rule  4 :  bereveament_no  -> wageFirst2.0
Rule  5 :  cola_tc  -> pay2
Rule  6 :  pension_ret  -> cola_tc
Rule  7 :  wageThird5.0  -> cola_tc
Rule  8 :  wageFirst3.5  -> cola_tcf
Rule  9 :  empl_none  -> dntl_none
Rule  10 :  lngtrm_no  -> dntl_none
Rule  11 :  dntl_none  -> wageFirst4.0
Rule  12 :  wageFirst4.0  -> empl_half
Rule  13 :  wageThird5.0  -> empl_half
Rule  14 :  empl_none  -> lngtrm_no
Rule  15 :  empl_none  -> shift3
Rule  16 :  wageFirst2.0  -> wageSecond2.5
Rule  17 :  wageFirst3.5  -> wageThird4.6
Rule  18 :  wageFirst4.5  -> wageSecond4.5
Rule  19 :  wageFirst4.5  -> wageThird5.0
=============================
minimum Confidence :  0.5